* {
      box-sizing: border-box;
    }
.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #fff;
  border-radius: 50%;
  animation: glow 1.3s infinite;
}
.container{
            font-size:10px;
            width:40em;
            height:40em;
            position:relative;
            }
.sun{
    position:absolute;
    top:15em;
    left:15em;
    width:10em;
    height:10em;
    background: radial-gradient(#ffff00, #ff9900);
    border-radius:50%;
    box-shadow:0 0 3.5em #ffff00;
    animation: sun-glow 2s linear infinite;
    }

.earth,.moon,.mercury,.venus{
    position:absolute;
    border-style:solid;
    border-color:white transparent transparent transparent;
    border-width:0.1em 0.1em 0 0;
    border-radius:50%;
    background: url('earth-texture.jpg') repeat;
    background-size: cover;
    box-shadow: inset 0 0 10em rgba(0, 0, 0, 0.5);
    }
.earth{
    top:5em;
    left:10em;
    width:30em;
    height:30em;
    animation: orbit 36.5s linear infinite;
    
    }
.moon{
    top:0;
    right:0;
    width:7em;
    height:7em;
    animation: orbit 2.7s linear infinite;
    }
.mercury{
    top: 11em;
    left: 12em;
    width: 18em;
    height: 18em;
    animation: orbit 20s linear infinite;
}
.venus{
    top: 0.5em;
    left: 2.5em;
    width: 44em;
    height: 44em;
    animation: orbit 55s linear infinite;
}
    .earth::before,
    .moon::before{
        content:'';
        position:absolute;
        border-radius:50%;
        }
    .earth::before{
        top:2.8em;
        right:2.8em;
        width:3em;
        height:3em;
        background-color:aqua;
        }
    .moon::before{
        top:0.8em;
        right:0.2em;
        width:1.2em;
        height:1.2em;
        background-color:silver;
    }
.mercury::before{
    top: 0.6em;
    right: 0.2em;
    width: 0.1em;
    height: 0.2em 
        background-color:silver;
    }
.venus::before{
    top: 6em;
    right: 6em;
    width: 0.1em;
    height: 0.2em 
        background-color:silver;
    }


    @keyframes orbit{
        to{
            transform:rotate(360deg);
            }
    }
@keyframes sun-glow {
  0% {
    box-shadow: 0 0 1em #ffff00;
 }
50% {
    box-shadow: 0 0 2em #ffff00;
  }
  100% {
    box-shadow: 0 0 1em #ffff00;
  }
}
@keyframes glow {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

